
body {
	background-color: black;
}

button, #add-giphy {
	margin:5px;
	padding: 10px;
	background-color: black;
    color: white;
    font-size: 20px;
    border: 2px solid #3894FF;
    box-shadow: 1px 1px 1px grey;

}


#giphy-input{
	height: 40px;
    background-color: black;
    border: none;
    color: white;
    font-size: 20px;
}

#giphy-view {
	overflow:hidden;
	width:100%;

}

#buttons-view{
	margin-bottom: 20px
}

.newGiphy {	
	float:left;
	width:33%;
	height:33%;	
}

img{
	margin:5px;
	border-radius: 5px;
	width:90%;
	height:auto;
}	

label {
	color:white;
}

p{
	font-size: 20px;
	color:white;
	position:absolute;
	margin-top: 10px;
	margin-left: 10px;
	text-shadow: 2px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}

.flash {
   animation-name: flash;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flash {
    from {color: #3894FF;}
    to {color: white;}
}





