body {
	background-color: black;
}

button, #add-giphy {
	margin:5px;
	padding: 10px;
	background-color: black;
    color: white;
    font-size: 20px;
    border: 2px solid #4CAF50;
    box-shadow: 1px 1px 1px grey;

}


#giphy-input{
	height: 40px;
    background-color: black;
    border: none;
    color: white;
    font-size: 20px;
}

#giphy-view {
	overflow:hidden;
	width:100%;
}

.newGiphy {	
	float:left;
	width:33%;
	height:33%;	
}

img{
	width:75%;
	height:auto;
}	

label {
	color:white;
}

p{
	font-size: 20px;
	color:white;
	width:75%;
	height:75%;

}



/*/--------experimentin-----//
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: table;
  border-collapse: collapse;
  width: 100%;
}

li {
  display: table-cell;
}*/
